@model clinic_management_by_haris.Models.tbl_clientLogin

@{
    ViewBag.Title = "ClientLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ClientRegister", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div id="formbody01">
     


        <div class="container-contact100">
            <div class="wrap-contact100">
                <form class="contact100-form validate-form">
                    <span class="contact100-form-title">
                        Client Registeration Form
                    </span>

                    <div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Name">
                        <span class="label-input100">FULL NAME *</span>
                        <input class="input100" type="text" name="name" maxlength="50" required pattern="[a-zA-z]{3,50}" placeholder="Enter Your Name">
                    </div>

                    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="Enter Your Email (e@a.x)">
                        <span class="label-input100">Email *</span>
                        <input class="input100" type="email" name="email" maxlength="50"  required placeholder="Enter Your Email ">
                    </div>
                    <div class="wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Password</span>
                        <input class="input100" type="password" maxlength="15" pattern="[0-9a-zA-z]{1,15}" required name="password" placeholder="Enter Password">
                    </div>

                    <div class="wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Phone</span>
                        <input class="input100" type="tel" pattern="[0-9]{11}" maxlength="11" name="phone" required placeholder="Enter Number Phone">
                    </div>




                    <div class="wrap-input100 validate-input bg0 rs1-alert-validate" data-validate="Please Type Your Message">
                        <span class="label-input100">Address</span>
                        <textarea class="input100" name="address" pattern="[a-zA-z0-9]{1,200}" maxlength="200" required placeholder="Your address here..."></textarea>
                    </div>

                    <div class="container-contact100-form-btn">
                        <button class="contact100-form-btn">

                            <input type="submit" value="Register" class="contact100-form-btn" />

                        </button>
                    </div>

                    @Html.ActionLink("Already registered Login Here!", "ClientLogin");

                </form>
            </div>
        </div>



    </div>


}

