@model clinic_management_by_haris.Models.tbl_feedback

@{
     
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ContactUs", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
  <div id="formbody01">
         


        <div class="container-contact100">
            <div class="wrap-contact100">
                <form  >
                    <span class="contact100-form-title">
                         FeedBack FORM
                    </span>

                    <div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Name">
                        <span class="label-input100">FULL NAME *</span>
                        <input class="input100" type="text"  name="name" id="name"   required pattern="[a-zA-z]{3,50}" placeholder="Enter Your Name">
                    </div>

                    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="Enter Your Email (e@a.x)">
                        <span class="label-input100">Email *</span>
                        <input class="input100" type="email" name="email"   id="email" maxlength="50" required placeholder="Enter Your Email ">
                    </div>

                    <div class="wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Phone</span>
                        <input class="input100" type="tel" name="phone" id="phone" maxlength="11" pattern="[0-9]{11}" required placeholder="Enter Number Phone">
                    </div>




                    <div class="wrap-input100 validate-input bg0 rs1-alert-validate" data-validate="Please Type Your Message">
                        <span class="label-input100">Message</span>
                        <textarea class="input100" name="message" id="message"  maxlength="200" required placeholder="Your message here..."></textarea>
                    </div>

                    <div class="container-contact100-form-btn">
                        <button class="contact100-form-btn">
                            
                                   <input    type="submit" value="Create" class="contact100-form-btn"/>
                            
                        </button>
                    </div>
                </form>
            </div>
        </div>



    </div>


    <head>
        <link rel="stylesheet" media="all" href="./Mobile App Performance Data and Business Tools _ Apptopia_files/prospect-f3a8f62b467487883e8fd418910473ff9a79e75ecb34536588b748b724c8bca4.css">
    </head>


    
}

 