@model IEnumerable<clinic_management_by_haris.Models.tbl_inventory>

@{Layout = null;}



        @{int count = 0; }
       @foreach (var item in Model)
                   {
                       if (count<=10 && item.tbl_products.ptype == "Liquid" || item.tbl_products.ptype == "tablet" || item.tbl_products.ptype == "injection" || item.tbl_products.ptype == "capsule")
                       {
                           count++;



<article>



<img  alt="image" src="~/productImages/@item.tbl_products.pimage" alt="" width="50px" height="50px">



<h3>item.tbl_products.pname</h3>



<h4>item.tbl_products.price</h4>



<a href="cart.html" class="btn-add">Add to cart</a>
        </article>
           }
       }


